.header {
  height: 60px;
  background-color: rgb(59, 165, 160);
}
.link {
  color: blue;
  margin: 10px;
  font-size: 25px;
  font-weight: 800;
  text-decoration: none;
  &:hover {
    color: rgb(0, 255, 34);
  }
}

.active {
  color: red;
}
