.img {
  max-width: 100%;

  object-fit: contain;
}
.modal {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  object-fit: cover;
  position: relative;
}
