.ul {
  width: 1000;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  gap: 60px;
}
.header {
  font-size: 15px;
  max-width: 70px;
  height: 50px;
  font-weight: 500;
  padding: 10px;
}
.text {
  width: 70px;
  font-size: 15px;
  font-weight: 300;
  height: 120px;
}
